<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
          <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Cart</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Cart</li>
  </ol>
</div>
<!-- Single Page Header End -->


<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-8 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Tên</th>
              <th scope="col">Giá</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tổng cộng</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          
          <tbody id="loadCart">
            <tr *ngFor="let pro of cart; let i = index">
              <th scope="row">
                <div class="d-flex align-items-center">
                  <img src="http://localhost:3000/images/{{pro.img}}" alt="" class="img-fluid me-5 rounded-circle"
                    style="width: 80px; height: 80px;">
                </div>
              </th>
              <td>
                <p class="mb-0 mt-4">{{pro.name}}</p>
              </td>
              <td>
                <p class="mb-0 mt-4">{{pro.price | vndCurrency}}</p>
              </td>
              <td>
                <div class="input-group quantity mt-4" style="width: 100px;">
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-minus rounded-circle bg-light border" (click)="changeQuantity(i, 0)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <input type="text" class="form-control form-control-sm text-center border-0 bg-white"
                    [value]="pro.quantity" readonly>
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-plus rounded-circle bg-light border" (click)="changeQuantity(i, 1)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <p class="mb-0 mt-4">{{pro.price * pro.quantity | vndCurrency}}</p>
              </td>
              <td>
                <button class="btn btn-md rounded-circle bg-light border mt-4" (click)="removeItem(i)">
                  <i class="fa fa-times text-danger"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
        <div class="row text-center" *ngIf="cart == ''">
          <h3 class="col-12">Giỏ hàng trống, hãy đặt hàng!</h3>
        </div>
      </div>
      <!-- <div class="mt-5">
              <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
              <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply
                  Coupon</button>
          </div> -->
      <div class="col-4 row justify-content-end">
        <div class="col-sm-12">
          <div class="bg-light rounded">
            <div class="p-4">
              <h1 class="display-6 mb-4"><span class="fw-normal">Hóa đơn</span></h1>
              <div class="d-flex justify-content-between mb-4">
                <h5 class="mb-0 me-4">Tổng cộng:</h5>
                <p class="mb-0" id="subTotal">{{getPrice() | vndCurrency }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <h5 class="mb-0 me-4">Phí vận chuyển</h5>
                <div class="">
                  <p class="mb-0" id="shipMoney">5%</p>
                </div>
              </div>
            </div>
            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
              <h5 class="mb-0 ps-4 me-4">Tổng thanh toán</h5>
              <p class="mb-0 pe-4" id="totalCartMoney">{{getTotalCartMoney() | vndCurrency }}</p>
            </div>
            <button (click)="loadCheckOut()"
              class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
              type="button">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart Page End -->